@import '../../../common/stylus/mixin';

.item-block
  width:180px
  overflow:hidden
  .item-pic
    width:180px
    height:120px
    box-sizing:border-box
    border:1px solid #e4e7ed
    background-size:cover
    overflow:hidden
  .item-text
    margin-top:6px
    line-height:30px
    &.item-tit
      text-align:center
      text-ellipsis()
    .title
      text-ellipsis()
    .desc
      margin-top:3px
      text-ellipsis(2,20px)
    .owner
      margin-top:10px
      text-ellipsis()

.block-item
  display:flex
  justify-content: space-between
  width:346px
  height:140px
  box-sizing:border-box
  padding:10px
  margin-right:10px
  margin-bottom:10px
  border:1px solid #e4e7ed
  .show-head
    width:80px
    height:80px
    border:1px solid #e4e7ed
    border-radius(50%)
  .show-info
    width:230px
    .info-tit
      font-size:18px
      line-height:28px
      color:$mainFont
    .info-tag
      color:$secondaryFont
      text-ellipsis(1,26px)
    .info-desc
      color:$secondaryFont
      text-ellipsis(3,20px)
  &.org-item
    height:200px
    text-align:center
    .item-block
      width:306px
      margin:auto
      .item-pic
        margin:auto
      .item-tag
        color:$secondaryFont
        text-ellipsis(1,20px)