/*home--cmp、expert*/
.block-container{
  display: flex;
  flex-wrap: wrap;
  margin-right:-10px;
  margin-bottom:-10px;
  .block-item{
    display:flex;
    width:346px;
    height:140px;
    box-sizing:border-box;
    padding:10px;
    margin-right:10px;
    margin-bottom:10px;
    border:1px solid $borderColor;
    .show-head{
      width:80px;
      height:80px;
      border:1px solid $borderColor;
      @include border-radius(50%);
      background-size:cover;
    }
    .show-info{
      flex:1 0 80px;
      padding-left:15px;
      width: 118px;
      .info-tit{
        font-size:18px;
        line-height:28px;
        color:$mainFont;
      }
      .info-tag{
        color:$secondaryFont;
        @include text-ellipsis();
        line-height:26px;
      }
      .info-desc{
        color:$secondaryFont;
        @include text-ellipsis-n(3,20px);
      }
    }
    &.org-item{
      height:200px;
      justify-content:center;
      text-align:center;
      .item-block-org{
        width:306px;
        overflow: hidden;
        .item-pic-org{
          @include center-items();
          background-size:cover;
          margin:auto;
        }
        .item-text-org{
          margin-top:6px;
          line-height:30px;
          .item-tit-org{
            display:flex;
            justify-content: center;
            align-items:center;
            span{
              display: inline-block;
              max-width: 100%;
              @include text-ellipsis();
            }
          }
          .item-tag-org{
            color:$secondaryFont;
            @include text-ellipsis();
            line-height:20px;
          }
        }
      }
    }
  }
}
/*home--cmp、expert*/

/*list--图文*/
.list-item{
  width: 100%;
  display:flex;
  position: relative;
  align-items:center;
  background:#fff;
  padding:20px;
  box-sizing: border-box;
  @include border-1px();
  &:last-child{
    @include border-none();
  }
  .list-head{
    @include center-items(162px,108px);
    .item-pic-org{
      @include center-items(162px,108px);
    }
  }
  .list-info{
    flex: 1 1 170px;
    padding-left:15px;
    .list-tit{
      color:$mainFont;
      font-size:18px;
      @include text-ellipsis-n(2,26px);
      &.list-topic{
        @include text-ellipsis();
        line-height:26px;
      }
    }
    .list-tag{
      margin-top:10px;
      color:$secondaryFont;
      font-size:14px;
      li{
        display:inline-block;
        margin-right:15px;
      }
    }
    .list-owner{
      color:$commonFont;
      line-height:30px;
    }
    .list-desc{
      @include text-ellipsis-n(2,20px);
      color:$commonFont;
    }
  }
  .list-link{
    position: absolute;
    right: -14px;
    top: 50%;
    margin-top:-12px;
    .el-button{
      padding: 6px 8px;
      font-size: 12px;
    }
  }
}
.wrapper-right .list-item{
  padding: 10px 0;
  .list-head{
    @include center-items(50px,50px);
  }
  .list-info{
    flex: 1 1 58px;
    padding-left:6px;
  }
}
.list-item-info{
  .list-head{
    display: none
  }
  .list-info{
    flex: 1 1 0;
    padding-left: 0;
  }
}
/*list*/
