@import './element-variables';

$mainColor:$--color-primary;

/*mian-font*/
/*主要文字*/ $mainFont: #303133;
/*常规文字*/ $commonFont: #606266;
/*次要文字*/ $secondaryFont: #909399;
/*占位文字*/ $occupancyFont: #C0C4CC;

/*boder-color*/ $borderColor: #e4e7ed;


/*bg-about s*/
@mixin bg-blue-color() {
  background: $mainColor;
  color: #fff;
}
@mixin bg-blue-active-color($bg: #0c84f1){
  background: $bg;
}

@mixin bg-grey-color($bg: #373d41, $color: #c4c3c3){
  background: $bg;
  color: $color;
  a{
  	color: $color;
  }
  a:hover{
  	color: #fff;
  }
}

@mixin bg-image($url){
  background-image:url($url);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
}
/*bg-about e*/

/*border-about s*/
@mixin border-radius($radius: 6px){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-1px(){
  position:relative;
  &:after {
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    border-top:1px solid $borderColor;
    content:' ';
  }
}
@mixin border-none(){
  &:after{
    content:none;
  }
}
/*border-about e*/

/*text-about s*/
@mixin text-ellipsis(){
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin text-ellipsis-n($n: 1,$lineH: 30px){
  display: -webkit-box;
  line-height: $lineH;
  max-height: $lineH*$n;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*text-about e*/

/*justify align-items center*/
@mixin center-items($w: 180px,$h: 120px){
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $borderColor;
  box-sizing:border-box;
  width: $w+2px;
  height: $h+2px;
  @include border-radius(4px);
  background-size:cover;
  background-position: center center;
  img{
    max-width: $w;
    max-height: 100%;
  }
}