@import './mixin';

body
  background:#f4f6f8

a
  color: $mainFont

.contain-wrapper
  box-sizing: content-box
  width: 1100px
  padding: 0 10px
  position:relative
  margin:auto
  clear:both
  font-size:15px
.minw-block
  min-width: 1110px

.block-wrapper
  margin-bottom:20px

.content-wrapper
  box-sizing: border-box
  padding:20px
  background:#fff

/*左右分栏*/
.main-content
  display: flex
  justify-content: space-between
  .wrapper-left
    width:800px
  .wrapper-right
    width: 280px
.ad-wrapper
  position: relative
  display: block
  margin-bottom: 10px
  &:after
    content:"广告"
    font-size:10px
    color:#fff
    background:rgba(0,0,0,0.3)
    position:absolute
    padding:0 4px
    right:0
    bottom:0px
/*左右分栏*/

.content-title
  display:flex
  justify-content: space-between
  font-size:16px
  line-height:30px
  font-weight: bold
  color:$mainFont
  margin-bottom:12px
  position:relative
  /*&.content-title-center
    display:block
    text-align: center
    font-size: 22px
    line-height: 40px*/
  .content-more
    font-size:13px
    color:$secondaryFont
    position:absolute
    right: 0
    top:0

.el-button--primary
  background-color: $mainColor
  border-color: $mainColor

/*认证标识相关*/
.authicon
  display: inline-block
  margin-left:4px
  width:16px
  height:16px
  background-size: cover
  &.icon-pro
    bg-image('/static/comimg/porfile_icon_zhuanjia_nor.png')
  &.icon-com
    bg-image('/static/comimg/porfile_icon_qiye_hig.png')
  &.icon-staff
    bg-image('/static/comimg/porfile_icon_yuangong_hig.png')
  &.icon-real
    width:24px
    bg-image('/static/comimg/porfile_icon_shimin_nor.png')



  
