/*home--cmp、expert*/
.block-container
  display: flex
  flex-wrap: wrap
  margin-right:-10px
  margin-bottom:-10px
  .block-item
    display:flex
    width:346px
    height:140px
    box-sizing:border-box
    padding:10px
    margin-right:10px
    margin-bottom:10px
    border:1px solid $borderColor
    .show-head
      width:80px
      height:80px
      border:1px solid $borderColor
      border-radius(50%)
      background-size:cover
    .show-info
      flex:1 0 80px
      padding-left:15px
      .info-tit
        font-size:18px
        line-height:28px
        color:$mainFont
      .info-tag
        color:$secondaryFont
        text-ellipsis(1,26px)
      .info-desc
        color:$secondaryFont
        text-ellipsis(3,20px)
    &.org-item
      height:200px
      text-align:center
      .item-block-org
        width:306px
        display:flex
        flex-direction: column
        align-items: center
        .item-pic-org
          center-items()
          background-size:cover
        .item-text-org
          margin-top:6px
          line-height:30px
          text-align:center
          .item-tit-org
            display:flex
            justify-content: center
            align-items:center
            span
              display: inline-block
              max-width: 100%
              text-ellipsis()
          .item-tag-org
            color:$secondaryFont
            text-ellipsis(1,20px)
/*home--cmp、expert*/

/*list--图文*/
.list-item
  display:flex
  align-items:center
  background:#fff
  padding:20px
  border-1px()
  &:last-child
    border-none()
  .list-head
    center-items()
  .list-info
    flex: 1 1 180px
    padding-left:15px
    .list-tit
      color:$mainFont
      font-size:18px
      text-ellipsis(2,26px)
      &.list-topic
        text-ellipsis(1,26px)
    .list-tag
      margin-top:10px
      color:$secondaryFont
      font-size:14px
      li
        display:inline-block
        margin-right:15px
    .list-owner
      color:$commonFont
      line-height:30px
    .list-desc
      text-ellipsis(2,20px)
      color:$commonFont
/*list*/
